<div class="row">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
            <li class="tab col s4"><a class="active" href="#product-management">Product Management</a></li>
            <li class="tab col s4"><a href="#order-management">Order Management</a></li>
            <li class="tab col s4"><a href="#user-management">User Management</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <section id="product-management" class="product-table-wrapper col s12">
        <div class="row valign-wrapper">
            <h6 class="col s2 product-thumbnail">Pokemon</h6>
            <h6 class="col s2">Name</h6>
            <h6 class="col s2">Type</h6>
            <h6 class="col s2">Price</h6>
            <h6 class="col s2">Inventory</h6>
            <h6 class="col s3"></h6>
        </div>
        <div class="row valign-wrapper" ng-repeat="product in products">
            <product-entry class="col s12" product="product" ng-model="product"></product-entry>
        </div>
    </section>

    <section id="order-management" class="product-table-wrapper col s12">
        <div class="row valign-wrapper">
            <h6 class="col s1">Order ID</h6>
            <h6 class="col s1">User ID</h6>
            <h6 class="col s2">Order Date</h6>
            <h6 class="col s1">Status</h6>
            <h6 class="col s4"></h6>
            
        </div>
        <div class='row valign-wrapper' ng-repeat = "userOrder in userOrders">
            <user-order class="col s12" userOrder="userOrder" ng-model="userOrder"></user-order>
        </div>
        <div class="row valign-wrapper"></div>
        <div class="row valign-wrapper">
            <h6 class="col s1 order-thumbnail">Pokemon</h6>
            <h6 class="col s2">Order ID</h6>
            <h6 class="col s2">Name</h6>
            <h6 class="col s2">Price</h6>
            <h6 class="col s1">Quantity</h6>
            <h6 class="col s2">First Name</h6>
            <h6 class="col s2">Last Name</h6>
            <h6 class="col s2"></h6>
        </div>
        <div class='row valign-wrapper' ng-repeat = "order in orders">
            <order-entry class="col s12" order="order" ng-model="order"></order-entry>
        </div>
    </section>

    <section id="user-management">
        <div class="row valign-wrapper">
            <h6 class="col s3">Last Name</h6>
            <h6 class="col s3">First Name</h6>
            <h6 class="col s2">Email</h6>
            <h6 class="col s2">Zip Code</h6>
            <h6 class="col s2">Admin</h6>
            <h6 class="col s4"></h6>
        </div>
        <div class="row valign-wrapper" ng-repeat="user in users">
            <user-entry class="col s12" user="user" ng-model="user"></user-entry>
        </div>
    </section>
</div>
