<nav class="navbar">
        <!-- <div class="navbar-header"> -->
        <div>
            <span class="logo">P<i class="pokeball">
            <i class="great"></i></i>KEMART</span>
        </div>
        <!-- </div> -->
        <!-- <ul> -->
            <span ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </span>
        <!-- </ul> -->
        <div class="shopping-cart">
            <shopping-cart active='inactive'></shopping-cart>
        </div>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <span ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </span>
</nav>
