<li class="{{showCart}}">
    <a class="checkout__button" ng-click="revealCart()">
        <i class="medium material-icons" id="cart-icon">shopping_cart</i>
    </a>
    <div class="checkout__order" clickAnywhereButHere="hideCart()">
        <div class="checkout__order-inner">
            <table class="checkout__summary">
                <thead>
                    <tr class="white-text"><th>Your Order</th><th>Price</th></tr>
                </thead>
                <tfoot>
                    <tr><th colspan="2">Total <span class="checkout__total">$56.20</span></th></tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in cart"><td>{{item.title}} <span class="light-blue-text text-lighten-1">quantity: {{item.quantity}}</span></td><td>${{item.price}}</td></tr>
                </tbody>
            </table><!-- /checkout__summary -->
            <a class="checkout__option checkout__option--silent checkout__cancel" ng-click="hideCart()">Continue Shopping</a>
            <a class="checkout__option btn light-blue darken-1">Buy</a>
            <a class="checkout__close checkout__cancel" ng-click="hideCart()">x</a>
        </div><!-- /checkout__order-inner -->
    </div><!-- /checkout__order -->
</li><!-- /checkout -->
