// .stars {
//    unicode-bidi: bidi-override;
//    color: #c5c5c5;
//    font-size: 25px;
//    height: 25px;
//    width: 200px;
//    margin: 0 auto;
//    margin-left: 0px;
//    position: relative;
//    padding: 0;
//    text-shadow: 0px 1px 0 #a2a2a2;

//    &-filled {
//       color: #D01029;
//       padding: 0;
//       position: absolute;
//       z-index: 1;
//       display: block;
//       top: 0;
//       left: 0;
//       overflow: hidden;
//    }
//    &-back {
//       padding: 0;
//       display: block;
//       z-index: 0;
//    }
// }

// .left {
//    float: left;
// }

// .right {
//    float: right;
// }

// .buffer {
//    margin-top: 15px;
//    margin-bottom: 15px;
// }
