<section class="product-page">

  <div class="product-wrapper">
    <div class="pokemon-product-img">
      <img src="{{product.imageUrl}}">
    </div>
    <div class="product-info">
      <div class="name-type-wrapper">
        <h4>{{product.title}}</h4>
        <h6>{{product.category}} Type Pokemon</h6>
      </div>
      <div>
        <h4>${{product.price}}</h4>
        <h6>Quantity<select ng-model ='quantity' ng-init="quantity='1'" material-select>
          <option ng-repeat = 'i in arrayMaker(product.quantity)' value ='{{i}}'>{{i}}</option>
        </select></h6>
      </div>
    </div>
  </div>

  <div class="stars-wrapper">
    <input-stars ng-model="rating" max="5"></input-stars>
  </div>

  <div class="review-wrapper">
    <div ng-repeat="review in reviews">
      <h6>{{review.subject}}</h6>
      <h6>{{review.content}}</h6>
      <h6>{{review.rating}}</h6>
    </div>
  </div>

  <div class="review-form-wrapper" ng-hide="true">
    <form name="reviewForm" ng-submit="submitReview()">
      <div input-field>
        <input name="title" type="text" ng-model="newReview.title" required length="30" />
        <label for="title">Title</label>
      </div>
      <div input-field>
        <textarea class="materialize-textarea" name="content" type="text" ng-model="newReview.content" required length="300"></textarea>
        <label for="content">Description</label>
      </div>
      <div input-field>
        <input name="rating" type="text" ng-model="newReview.rating" required />
        <label for="rating">Rating</label>
      </div>
      <button type="submit" class="btn btn-default" ng-disabled="reviewForm.$invalid">Submit</button>
    </form>
  </div>


</section>

<a class="add-to-cart-btn btn col s5" ng-click="addToCart()">Add To Cart</a>
