<section class="product-page">

  <div class="product-wrapper">
    <div class="pokemon-product-img">
      <img src="{{product.imageUrl}}">
    </div>
    <div class="product-info">
      <div class="name-type-wrapper">
        <h4>{{product.title}}</h4>
        <h6>{{product.category}} Type Pokemon</h6>
      </div> 
      <div>
        <h4>${{product.price}}</h4>
        <h6>Quantity<select ng-model ='quantity' ng-init="quantity='1'" material-select>
          <option ng-repeat = 'i in arrayMaker(product.quantity)' value ='{{i}}'>{{i}}</option>
        </select></h6>
      </div>
    </div>
  </div>
  <div>
<div style="margin-top:45px;" fb-like="myModel.Url" fbLike:"{{myModel.Url}}"></div>
</br></div></div><div style="margin-left:110px; margin-top:-42px;" tweet="myModel.Name"></div>
<div style="margin-left:180px; margin-top:-27px;"pin-it="myModel.Name" pin-it-image="myModel.ImageUrl"></div>
</div>
  <div class="stars-wrapper" ng-click="modalOpen=!modalOpen">
    <input-stars ng-model="newReview.rating" max="5"></input-stars>
    <h6></h6>
  </div>
  <div class="review-wrapper">
    <div ng-repeat="review in reviews">
      <h5>
        <span>
          <div class="review-entry-stars">
            <input-stars ng-model="review.rating" max="5"></input-stars>
          </div>
          {{review.title}}
        </span>
      </h5>
      <p>{{review.date}}</p>
      <h6>{{review.content}}</h6>  
    </div>
  </div>

  <div class="review-form-wrapper modal" id="review-form" open="modalOpen">
    <form name="reviewForm" ng-submit="submitReview()">
      <div input-field class="review-form-field">
        <input name="title" type="text" ng-model="newReview.title" required length="30" />
        <label for="title">Title</label>
      </div>
      <div input-field class="review-form-field">
        <textarea class="materialize-textarea" name="content" type="text" ng-model="newReview.content" required length="500"></textarea>
        <label for="content">Description</label>
      </div>
      <div class="review-form-field"><input-stars ng-model="newReview.rating" max="5"></input-stars></div>
      <button type="submit" class="review-form-field modal-action modal-close btn btn-default" ng-disabled="reviewForm.$invalid">Submit</button>
    </form>
  </div>


</section>

<!-- <div fb-like="myModel.Url" fbLike:"{{myModel.Url}}"></div>
</br></div></div><div tweet="myModel.Name"></div>
<div pin-it="myModel.Name" pin-it-image="myModel.ImageUrl"></div> -->
<a id='add-to-cart-button' class="add-to-cart-btn btn col s5" ng-click="addToCart()">Add To Cart</a>

