@import 'pokeball';
@import 'pikachu';

.navbar-fixed {
  a {
    padding: auto 10px;
  }
}

.logo {
  cursor: pointer;
  color: white;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 4.0em;
  margin: 0;
  @include phone() {
    display: none;
  }
  @include wearable() {
    display: none;
  }
}

.pikachu {
    display: inline-block;
    position: relative;
    top: 12px;
    right: 4px;
    margin: 0 -2px;
}

.pokeball {
    display: inline-block;
    position: relative;
    top: 6px;
    right: 4px;
    margin-left: 4px;
    margin-right: -2px;
    @include phone() {
      display: block;
    }
    @include wearable() {
      display: block;
    }
}

.navbar {
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login-button {
    margin: auto 0;
}
