<span style="display:inline;">
   <i class="material-icons md-48 medium mdi-content-add frontProfileIcon">face</i>
   <span class="welcomeProfile">Hey {{ user.firstName }} ! Check out your profile!</span>
</span>
</br></br></br>
<div class="row">
<form class="col s12">
   <div class="row">
      <div class="input-field col s6">
         <i class="material-icons prefix">account_circle</i>
         <input placeholder="{{ user.firstName }}" id="first_name" type="text" class="validate">
         <label class="active"for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
         <input placeholder="{{ user.lastName }}" id="last_name" type="text" class="validate">
         <label class="active" for="last_name">Last Name</label>
      </div>
   </div>
   <div class="row">
      <div class="input-field col s8">
         <i  class="material-icons">email</i>
         <i class="mdi-content-mail prefix"></i>
         <input placeholder="{{ user.address }}" id="first_name" type="text" class="validate">
         <label class="active"for="first_name">Address</label>
      </div>
   </div>
   <div class="row">
      <div class="input-field col s6">
         <i class="mdi-content-mail prefix"></i>
         <input placeholder="{{ user.address }}" id="email" type="email" class="validate">
         <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
         <input id="password" type="password" class="validate">
         <label for="password">Password</label>
      </div>
   </div>
   <div class="row" style="margin-left:35px;">
      <div class="input-field col s2">
         <input placeholder="{{ user.city }}" id="first_name" type="text" class="validate">
         <label class="active"for="first_name">City</label>
      </div>
      <div class="input-field col s2">
         <input placeholder="{{ user.state }}" id="last_name" type="text" class="validate">
         <label class="active" for="last_name">State</label>
      </div>
      <div class="input-field col s2">
         <input placeholder="{{ user.zipCode }}" id="first_name" type="text" class="validate" >
         <label class="active"for="first_name">Zip Code</label>
      </div>
   </div>
</form>

<button ng-click="saveUserInfo()">Save Info</button>
<button ng-click="dontSaveInfo()">X</button>

