<div class="login-wrapper">
    <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

        <alert type="danger" ng-show="error">
            {{ error }}
        </alert>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
        </div>
        <div class="login-btn-group">
            <button type="submit" class="col s6 btn btn-default">Submit</button>
            <button class="col s6 btn btn-default" ui-sref="signup">Sign Up</button>
        </div>

    </form>

    <div class="auth-btn-group right">
        <p><oauth-button provider-name="Google"></oauth-button></p>
        <!-- <p><oauth-button provider-name="Twitter"></oauth-button></p> -->
        <p><oauth-button provider-name="Facebook"></oauth-button></p>
    </div>
</div>
