<div class="row">
    <select class="col s4" ng-model="selected" material-select>
        <option ng-repeat="category in categories">{{category.name}}</option>
    </select>
</div>

<div class="row">
<li class="card col l4 m6 s12" ng-repeat="product in products | filter:filter(selected)" ui-sref="product({productId:product.id})">
  <div class="pokemon-img">
    <img src="{{product.imageUrl}}">
  </div>
  <div class="card-content">
    <h3 class="pokemon-name">{{product.title}}</h3>
    <p>${{product.price}}</p>
  </div>
</li>
</div>
