<div class="row">
    <select class="col s2" ng-model="selected" material-select>
        <option ng-repeat="category in categories">{{category.name}}</option>
    </select>
    <select class="col s2" ng-model="sortStyle" material-select>
      <option>Default</option>
      <option value="low">Low to High</option>
      <option value="high">High to Low</option>
    </select>
    <div>
      <input name="min-price" class="col s2" ng-model="min" type="number" placeholder ='Min $$'></input>
    </div>
    <div>
      <input name="max-price" class="col s2" ng-model="max" type="number" placeholder ='Max $$'></input>
    </div>
    <search-bar class="col s3"></search-bar>
</div>



<div>

</div>

<!-- <div>
	<select class="col s4" ng-model="sortStyle">
<option value="ascending">ghetrteg</option>
<option value="descending">hteghth</option>
	</select>
</div> -->

<div class="row">
<li class="card col l4 m6 s12" ng-repeat="product in products | orderBy:sortingFunc(sortStyle) | filter:filter(selected) | filter: searchFilter(name) | filter:priceRangeFilter(min,max)" ui-sref="product({productId:product.id})">

  <div class="pokemon-img">
    <img src="{{product.imageUrl}}">
  </div>
  <div class="card-content">
    <h3 class="pokemon-name">{{product.title}}</h3>
    <p>${{product.price}}</p>
  </div>
</li>
</div>
