    <div>

    	<div ng-repeat="cart in cartContent">

    		<div style = 'border: 1px solid black'>

    			<div style = 'float:left'>
                <img src = 'http://pokeapi.co/media/img/{{cart.productId}}.png'/>
                </div>
    			<p>Title: {{cart.title}}</p>
    			<p>Category: {{cart.category}}</p>
    			<button ng-click="changeQuantity(cart.id,cart.quantity,'subtract')">-</button>
    			Quantity {{cart.quantity}}
    			<button ng-click="changeQuantity(cart.id,cart.quantity,'add')">+</button>
    			<p>Price: ${{cart.price * cart.quantity}}</p>
    			<button ng-click="remove(cart.id)">Remove from Cart</button>
                

    		      </div>
                
    	</div>
</div>

<p><a ui-sref='checkout'><button>Checkout</button></a></p>



