* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  margin: 0;
}


.caret {
  border-top: 4px transparent; // weird shadow if this style is not in place
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

@media (min-width: 993px) {
  .container {
      width: 80%;
  }
}

// filter form
input[name="min-price"] {
    margin: 0 0.75rem;
    padding: 0;
}

@import 'mixins';
@import 'animate';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'product/main';
@import 'product-card/main';
@import 'admin/main';
@import 'star-rating/main';
@import 'cart/main';
@import 'checkout/main';
