.welcomeProfile{
	color:#2bbbad;
	font-size:20px; 
	background-color:white;
	font-family: 'Josefin Slab', sans-serif;
}
.frontProfileIcon{
	margin-left:140px;
}
.saveButton{
	background-color:#2bbbad;
	width:150px;
	height:50px;
	
}
.dontSave{
	background-color:#ff4d4d;
	width:50px;
	height:50px;
}
.profileButtons{
	margin-left:220px;
}
.profileBox{
	margin-left:150px;
}
.input{
	background-color:black;
}
.reviewtitles{
	font-family: 'Josefin Slab', sans-serif;
	color:#2bbbad;
	font-size:18px;

}
.lineBorder{	
     border-bottom: dotted #2bbbad;
}
.showReviews{
	margin-left:160px;
	background-color:#2bbbad;
	width:350px;
	height:30px;
}